.new-job-page {
	background-color: $light_grey;
	margin: 2rem auto;
	padding: 1rem;
	box-shadow: 0 0.1rem 0.1rem rgba($black, 0.2);
	width: 60%;
}

.new-job-form {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;

	&__input {
		display: flex;
		flex-direction: column;

		input {
			height: 3rem;
		}
	}
}
