.user-profile-container {
	padding: 2rem;
}

.new-review-container {
	margin: 2rem 0;
}

.requests-list__table-container,
.new-request-form__container {
	background-color: $light_grey;
	margin: 1rem 0;
	padding: 1rem;
	box-shadow: 0 0.1rem 0.1rem rgba($black, 0.2);
}

.user-profile__info {
	background-color: $light_grey;
	margin: 1rem 0;
	padding: 1rem;
	box-shadow: 0 0.1rem 0.1rem rgba($black, 0.2);
	width: 60%;
	padding-left: 4rem;
}
